.btcf:after {
  content:"";
  display:table;
  clear:both;
 }

body {
	min-width: 720px;
	background-image: url("/images/seamlesspaper4.jpg");
	margin: 0;
	font-family: 'Merriweather', serif;
}

a {
	text-decoration: none;
}

a:visited {
	color: darkblue;
}

button {
	cursor: pointer;
}

header {
	width: 100%;
	position: relative;
	top: 0;
	height: 3.5em;
	margin-bottom: 3em;
	background-image: url("/images/grunge9.jpg");
	box-shadow: 0 2px 4px 2px #2d1070;
}

.banner {
	margin: 0 10%;
}

.banner h1 {
	margin: 0 10%;
	width: 100%;
	padding: .25em 0 0 0;
	float: left;
	font-size: 2.5em;
}

.banner a {
	color: white;
}

.me {
	position: relative;
	background-image: url("/images/seamlesstexture19_1200.jpg");
	height: 2em;
	margin: 0 auto 1em auto;
	border-radius: .3em;
	box-shadow: 0 2px 4px 1px #2d1070;
}

.me h3 {
	text-align: center;
	margin: 0;
	padding: .25em 0 0 0;
}

.main-container {
	position: relative;
	max-width: 1200px;
	margin: 0 10% 10em 10%;
}

.main-container h1 {
	position: relative;
}

.post-pics {
	margin: 0 7%;
	width: 50%;
	height: auto;
}

nav ul {
	float: right;
	list-style: none;
}

nav ul li {
	display: inline-block;
	font-size: 1em;
	margin: 0 .15em;
}

nav button {
	background-image: url("/images/seamlesstexture19_1200.jpg");
	font-size: 1em;
	border-radius: .5em;
	width: 8em;
	box-shadow: 0 0 2px 2px #2d1070;
}

footer {
	background-image: url("/images/seamlesstexture19_1200.jpg");
	width: 100%;
	height: 8em;
	position: fixed;
	bottom: 0;
	box-shadow: 0 -1px 4px 2px #2d1070;
}

.footer-content {
	margin: 0 auto;
	min-width: 720px;
	max-width: 1200px;
}

.footer-links {
	float: left;
	list-style: none;
	padding: 0;
	margin: 1em 0 0 15%;
}

.footer-links li {
	margin: 0 0 .4em 0;
}

.linkedin {
	width: 1.3em;
	height: 1.3em;
}

.github {
	width: 1.3em;
	height: 1.3em;
}

.footer-buttons {
	float: right;
	list-style: none;
	margin: 1em 15% 0 0;
}

.footer-buttons button {
	background-image: url("/images/grunge9.jpg");
	color: white;
	border-radius: .5em;
	width: 8em;
	font-size: 1em;
}
