<footer>
	<div class='footer-content btcf'>
		<ul class='footer-links'>
			<li><a href="http://www.linkedin.com/in/jonrish/" target="_blank"><img src="/images/LinkedIn-InBug-2CRev.png">My Profile</a></li>
			<li><a href="https://twitter.com/JonRish" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @JonRish</a></li>
		</ul>

		<ul class="footer-buttons">
			<li><button class='about-me'>About Me</button></li>
			<li><button class='FAQ'>Not So FAQ</button></li>
			<li><button class="contact">Contact Me</button></li>
		</ul>
	</div>
</footer>



